image/
__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so
exp
weights
data
log
outputs/
.vscode
.idea
*/.DS_Store
**/*.out
Dockerfile
sparsehash-sparsehash-2.0.4/
csv_test_plots/
test_plots/
scannet_test_plots/
forest/
*.csv
*.txt